.bggradient {
  background: rgb(200,233,255);
  background: radial-gradient(circle, rgba(200,233,255,1) 1%, rgba(255,203,171,1) 100%);
  height: 100vh;
}

a{
  text-decoration: none;
  color: white;
}

.opravljeno {
  text-decoration: none;
  color: rgb(119, 119, 119);
}

.podrobnilink{
  text-decoration: none;
  color: black;
}
.navbarwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 128, 187);
}

.navbarlogo {
  margin-left: 50px;
  font-size: 30px;
  color: white;
  font-weight: 600;
  padding: 30px;
}

.navbarlist {
  display: inline-block;
}

ul {
  margin-right: 50px;
  list-style: none;
}

li {
  display: inline-block;
  padding: 0px 30px;
  color: white;
  font-size: 20px;
}

.todolist {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  min-width: 90vw;
  padding: 20px 20px;
}

.todowrapper {
  height: 170px;
  width: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin: 10px 18px;
  padding: 10px;
  border: 1px solid rgb(199, 199, 199);
  border-radius: 10px;
}

.naslovtaska {
  margin: 0px 15px;
  font-size: 40px;
  font-weight: 500;
}

.opistaska {
  margin: 0px 15px;
  font-size: 20px;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color:rgb(119, 119, 119)
}

.nujnosttaska {
  margin: 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 35px;
}

.nujnost {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
}

.btnopravi {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
  color: rgb(119, 119, 119);
  font-size: 20px;
  cursor: pointer;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoform {
  margin-top: 40px;
}

label {
  font-size: 20px;
}

input {
  margin: 10px 0px;
  height: 40px;
  width: 330px;
  font-size: 14px;
}

.itemwrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.podrobnonaslov {
  font-size: 40px;
  margin: 10px 15px;
  font-weight: 500;
}

.podrobnoopis {
  font-size: 20px;
  margin: 20px 15px;
}

.podrobnonujnost {
  font-size: 25px;
  margin: 10px 15px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  width: fit-content;
}

.btnopravi2 {
  padding: 5px 10px;
  background-color: white;
  border: 1px solid rgb(119, 119, 119);
  border-radius: 5px;
  color: rgb(119, 119, 119);
  font-size: 20px;
  cursor: pointer;
  width: fit-content;
  margin: 10px 15px;
}

.buttondodaj {
    padding: 5px 10px;
    background-color: white;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
    color: rgb(119, 119, 119);
    font-size: 20px;
    cursor: pointer;
    width: fit-content;
    margin: 10px auto;
    display: block;
}