.navbarwrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: coral;
}

.navbarlist {
  display: inline-block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  padding: 0px 20px;
}

.todolist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  min-width: 90vw;
}

.todowrapper {
  height: 300px;
  width: 260px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: crimson;
}